## Sales Forecasting using Walmart data set.

<img width="450" align="left" src="https://miro.medium.com/max/2760/1*gsUixexI9DsFfKsS-ZZqng.png">

Sales forecast is an indicator of a product quantity that is likely to be sold in a time period in a specified market at given price. In other words, accurate sales forecasting enables a company to produce the required quantity at the right time in order to meet the future demand. [1]

In this project, I used a machine learning approach to forecast sales based on [Walmart data set](https://github.com/apadhye90/data-mining/tree/master/Kaggle%20Dataset) [2]


> [1] [Sales Forecasting: Meaning, Importance and Methods](https://www.businessmanagementideas.com/sales/forecasting-sales/sales-forecasting-meaning-importance-and-methods/7122)
<br>
[2] [Walmart Recruiting - Store Sales Forecasting: Overview](https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting)

<br>

### Table of Contents

<br>

### General Setup
___

In [1]:
# Dataframes.
import pandas as pd

# Numerical arrays.
import numpy as np

# Plotting.
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# Change style and size of plots
plt.style.use("ggplot")
plt.rcParams["figure.figsize"] = (14, 12)

<br>

### Load the data set
___

The data set consists of 4 csv files: stores, train, test, features. [3] First, I will analyse them separately.

> [3] [Walmart Recruiting - Store Sales Forecasting: Data Description](https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting/data)

<br>

#### Stores

In [3]:
# Load the stores.csv without an index.
stores = pd.read_csv("Walmart Data Set/stores.csv", index_col = False)

# Display the dafaframe
stores

    Store Type    Size      Store A      Store B      Store C
0       1    A  151315  219622.0000  140167.0000  42988.00000
1       2    A  202307   39690.0000   34875.0000  39690.00000
2       4    A  205863  177247.7273  101190.7059  40541.66667
3       6    A  202505          NaN          NaN          NaN
4       8    A  155078          NaN          NaN          NaN
5      11    A  207499          NaN          NaN          NaN
6      13    A  219622          NaN          NaN          NaN
7      14    A  200898          NaN          NaN          NaN
8      19    A  203819          NaN          NaN          NaN
9      20    A  203742          NaN          NaN          NaN
10     24    A  203819          NaN          NaN          NaN
11     26    A  152513          NaN          NaN          NaN
12     27    A  204184          NaN          NaN          NaN
13     28    A  206302          NaN          NaN          NaN
14     31    A  203750          NaN          NaN          NaN
15     32    A  203007          NaN          NaN          NaN
16     33    A   39690          NaN          NaN          NaN
17     34    A  158114          NaN          NaN          NaN
18     36    A   39910          NaN          NaN          NaN
19     39    A  184109          NaN          NaN          NaN
20     40    A  155083          NaN          NaN          NaN
21     41    A  196321          NaN          NaN          NaN
22      3    B   37392          NaN          NaN          NaN
23      5    B   34875          NaN          NaN          NaN
24      7    B   70713          NaN          NaN          NaN
25      9    B  125833          NaN          NaN          NaN
26     10    B  126512          NaN          NaN          NaN
27     12    B  112238          NaN          NaN          NaN
28     15    B  123737          NaN          NaN          NaN
29     16    B   57197          NaN          NaN          NaN
30     17    B   93188          NaN          NaN          NaN
31     18    B  120653          NaN          NaN          NaN
32     21    B  140167          NaN          NaN          NaN
33     22    B  119557          NaN          NaN          NaN
34     23    B  114533          NaN          NaN          NaN
35     25    B  128107          NaN          NaN          NaN
36     29    B   93638          NaN          NaN          NaN
37     35    B  103681          NaN          NaN          NaN
38     45    B  118221          NaN          NaN          NaN
39     30    C   42988          NaN          NaN          NaN
40     37    C   39910          NaN          NaN          NaN
41     38    C   39690          NaN          NaN          NaN
42     42    C   39690          NaN          NaN          NaN
43     43    C   41062          NaN          NaN          NaN
44     44    C   39910          NaN          NaN          NaN

The stores file consist of information about 45 stores, including the type and size of each.

<br>

#### Train.

In [4]:
# Load the stores.csv without an index.
train = pd.read_csv("Walmart Data Set/train.csv", index_col = False)

# Display the dafaframe
train

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]

<br>

#### Test.

In [5]:
# Load the stores.csv without an index.
test = pd.read_csv("Walmart Data Set/test.csv", index_col = False)

# Display the dafaframe
test

        Store  Dept        Date  IsHoliday
0           1     1  2012-11-02      False
1           1     1  2012-11-09      False
2           1     1  2012-11-16      False
3           1     1  2012-11-23       True
4           1     1  2012-11-30      False
...       ...   ...         ...        ...
115059     45    98  2013-06-28      False
115060     45    98  2013-07-05      False
115061     45    98  2013-07-12      False
115062     45    98  2013-07-19      False
115063     45    98  2013-07-26      False

[115064 rows x 4 columns]

<br>

#### Features.

In [6]:
# Load the stores.csv without an index.
features = pd.read_csv("Walmart Data Set/features.csv", index_col = False)

# Display the dafaframe
features

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,2013-06-28,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,2013-07-05,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,2013-07-12,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,2013-07-19,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

that has sales data for 98 products across 45 stores. The dataset contains sales per store, per department on weekly basis. The challenging aspect of working with the Walmart dataset is that it contains selected markdown events that affect sales and should be taken into consideration.